#gameboard {
    width : 320px;
    height : 320px;
    display: flex;   
    flex-wrap: wrap;
}
.square {
    height: 40px;
    width: 40px;

}

.square svg {
    height: 30px;
    width: 30px;
    margin: 5px;

}

.brown{
    background-color: rgb(117, 117, 98);
}
.beige {
    background-color: rgba(255, 254, 254, 0.863);
}

.bp {
    fill : rgb(28,28,28)
}
.white {
    fill: rgba(255, 255, 255, );
}